#gnb {
  position: absolute;
  width: 1920px;
  height: 93px;
  top: 0;
  left: 50%;
  transform: translateX(-960px);
}

#gnb .bgbox {
  width: 100vw;
  height: 93px;
  background: #fafafa;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#gnb .gnb_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 93px;
  background: #FF5A60;
}

#gnb .gnb01 {
  position: absolute;
  top: 43px;
  right: 1177px;
}

#gnb .gnb02 {
  position: absolute;
  top: 43px;
  right: 858px;
}

#gnb .gnb03 {
  position: absolute;
  top: 43px;
  right: 545px;
}

#gnb .gnb04 {
  position: absolute;
  top: 43px;
  right: 227px;
}

#gnb .select01 {
  position: absolute;
  top: 33px;
  right: 1156px;
  opacity: 0;
}
#gnb .select01.on {
  opacity: 1;
}

#gnb .select02 {
  position: absolute;
  top: 33px;
  right: 835px;
  opacity: 0;
}
#gnb .select02.on {
  opacity: 1;
}

#gnb .select03 {
  position: absolute;
  top: 33px;
  right: 520px;
  opacity: 0;
}
#gnb .select03.on {
  opacity: 1;
}

#gnb .select04 {
  position: absolute;
  top: 33px;
  right: 204px;
  opacity: 0;
}
#gnb .select04.on {
  opacity: 1;
}

#gnb .line {
  position: absolute;
  top: 92px;
  left: 0;
}

#gnb .logo {
  position: absolute;
  left: 61px;
  top: 33px;
}

#gnb .arrow {
  position: absolute;
  right: 61px;
  top: 37px;
}

#gnb .arrow02 {
  position: absolute;
  right: 61px;
  top: 37px;
  opacity: 0;
}
#gnb .arrow02.on {
  opacity: 1;
}

#wrap {
  width: 100vw;
  height: 24255px;
  background: #fafafa;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 93px;
}

/* 비주얼 */
#section01 {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

#section01 .visual {
  position: absolute;
  top: 0px;

  width: 1920px;
  left: 50%;
  margin-left: -960px;
}

#section01 .particle > li {
  position: absolute;
}

#section01 .particle .particle01 {
  display: none;
}

#section01 .particle .particle01.on {
  display: block;
  top: 611px;
  left: 847px;

  animation: particle01 0.8s ease normal 1;
}

#section01 .particle .particle02 {
  top: 377px;
  left: 956px;

  animation: particle02 0.8s ease normal 1;
}

#section01 .particle .particle03 {
  display: none;
}

#section01 .particle .particle03.on {
  display: block;
  top: 175px;
  left: 903px;

  animation: particle03 0.8s ease normal 1;
}

#section01 .particle .particle04 {
  display: none;
}

#section01 .particle .particle04.on {
  display: block;
  top: 86px;
  left: 1356px;

  animation: particle04 0.8s ease normal 1;
}

#section01 .particle .particle05 {
  display: none;
}

#section01 .particle .particle05.on {
  display: block;
  top: 131px;
  left: 1512px;

  animation: particle05 0.8s ease normal 1;
}

@keyframes particle01 {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes particle02 {
  0% {
    transform: scale(0.2) translate(600px, 100px);
  }
  30% {
    transform: translateY(-20px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes particle03 {
  0% {
    transform: scale(0.2) translate(700px, 200px);
  }
  30% {
    transform: translateY(-20px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes particle04 {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes particle05 {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

/* 오버뷰 */
#section02 {
  width: 100vw;
  height: 1077px;
}

#section02 .overview {
  position: absolute;

  width: 1920px;
  left: 50%;
  margin-left: -960px;
}

#section02 .gift {
  position: absolute;
  top: 458px;
  left: 836px;
}

#section02 .whitebox {
  position: absolute;
  top: 450px;
  left: 203px;

  transform: translateY(30px);
  opacity: 0;
}

#section02 .blackbox {
  position: absolute;
  bottom: 127px;
  left: 214px;

  transform: translateY(30px);
  opacity: 0;
}

/* 리서치 */
#section03 {
  width: 1920px;
  height: 1838px;
}

#section03 .research {
  position: absolute;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}

#section03 .graph > li {
  position: absolute;
}

#section03 .graph01 {
  left: 190px;
  top: 350px;

  transform: rotate(-5deg) scale(0.9);
  opacity: 0;
}

#section03 .graph02 {
  left: 393px;
  top: 601px;

  transform: rotate(5deg) scale(0.9);
  opacity: 0;
}

#section03 .graph03 {
  left: 145px;
  top: 951px;

  transform: rotate(-5deg) scale(0.9);
  opacity: 0;
}

#section03 .graph04 {
  right: 186px;
  top: 767px;

  transform: rotate(5deg) scale(0.9);
}

#section03 .yes_no {
  position: absolute;
  right: 168px;
  top: 633px;

  opacity: 0;
  transform: translateY(30px);
}

#section03 .arrow {
  position: absolute;
  bottom: 400px;
  left: 50%;
  margin-left: -16px;

  opacity: 0;
  transform: translateY(-20px);
}

/* 페르소나 */
#section04 {
  width: 1920px;
  height: 1764px;
}

#section04 .persona {
  position: absolute;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}

#section04 .persona01 {
  width: 1720px;
  height: 570px;

  position: absolute;
  left: 100px;
  top: 319px;
}

#section04 .persona02 {
  width: 1720px;
  height: 570px;

  position: absolute;
  left: 100px;
  top: 1030px;
}

#section04 .tape {
  width: 1179px;
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: space-between;

  top: 368px;
  left: 492px;
}

#section04 .tapetitle {
  position: absolute;
  top: 372px;
  left: 512px;
}

#section04 .tape01,
#section04 .tape03 {
  transform: rotate(3deg);
  opacity: 0;
}

#section04 .tape02 {
  transform: rotate(-3deg);
  opacity: 0;
}

/* 포지셔닝맵 */
#section05 {
  width: 1920px;
  height: 865px;
}

#section05 .map {
  position: absolute;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}

#section05 .graph {
  position: absolute;
  left: 168px;
  top: 50%;
  margin-top: -306px;

  opacity: 0;
}

#section05 .icon {
  position: absolute;
  right: 32px;
  top: 47px;

  transform: scale(0.2);
  opacity: 0;
}

/* 브랜딩 */
#section06 {
  width: 1920px;
  height: 1449px;
}

#section06 .branding {
  position: absolute;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}

#section06 .keywords {
  position: absolute;
  left: 151px;
  top: 368px;

  transform: translateY(30px);
  opacity: 0;
}

#section06 .design {
  position: absolute;
  left: 151px;
  top: 942px;

  transform: translateY(30px);
  opacity: 0;
}

/* 온보딩 */
#section07 {
  width: 1920px;
  height: 1541px;
}

#section07 .onboarding {
  position: absolute;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}

#section07 .line {
  position: absolute;
  left: 533px;
  top: 395px;

  opacity: 0;
  transform: translateX(-1202px);
}

#section07 .splash {
  position: absolute;
  left: 100px;
  top: 320px;
}

#section07 .img {
  position: absolute;
  right: 77px;
  top: 493px;

  width: 1374px;
  display: flex;
  justify-content: space-between;
}

#section07 .img > li {
  transform: translateX(-20px);
  opacity: 0;
}

/* 메인 */
#section08 {
  width: 1920px;
  height: 5423px;
  margin-top: -245px;
}

#section08 .main {
  position: absolute;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}

#section08 .left {
  position: absolute;
  left: 509px;
  top: 359px;

  opacity: 0;
  transform: translateY(30px);
}

#section08 .lefttext > li {
  position: absolute;
  left: 143px;
}

#section08 .lefttext .text01{
  top: 645px;

  transform: translateX(-30px);
  opacity: 0;
}

#section08 .lefttext .text02{
  top: 971px;

  transform: translateX(-30px);
  opacity: 0;
}

#section08 .lefttext .text03{
  top: 1371px;

  transform: translateX(-30px);
  opacity: 0;
}

#section08 .lefttext .text04{
  top: 1691px;

  transform: translateX(-30px);
  opacity: 0;
}

#section08 .right {
  position: absolute;
  top: 617px;
  right: 527px;

  opacity: 0;
  transform: translateY(-30px);
}

#section08 .righttext > li {
  position: absolute;
  left: 1327px;
}

#section08 .righttext .text01{
  top: 711px;

  transform: translateX(30px);
  opacity: 0;
}

#section08 .righttext .text02{
  top: 1235px;

  transform: translateX(30px);
  opacity: 0;
}

#section08 .righttext .text03{
  top: 2060px;

  transform: translateX(30px);
  opacity: 0;
}

#section08 .main02 {
  position: absolute;
  width: 1920px;

  top: 2458px;
}

#section08 .main02 .contents {
  position: absolute;
  top: 109px;
  left: 255px;

  opacity: 0;
  transform: translateY(30px);
}

#section08 .main02 .text01{
  position: absolute;
  top: 462px;
  right: 257px;

  opacity: 0;
  transform: translateX(30px);
}

#section08 .main02 .text02{
  position: absolute;
  top: 688px;
  left: 1366px;

  opacity: 0;
  transform: translateX(30px);
}

#section08 .main02 .add_friends {
  position: absolute;
  top: 1160px;
  left: 196px;

  opacity: 0;
  transform: translateY(30px);
}

#section08 .main02 .add_friends .moviebox {
  position: absolute;
  top: 611px;
  left: -96px;

  width: 326px;
  height: 707px;
  background: #fafafa;

  border-radius: 23px;

  overflow: hidden;
}

#section08 .moviebox video {
  width: 326px;
}

#section08 .main02 .add_friends .add01 {
  position: absolute;
  top: 589px;
  left: -119px;
}

#section08 .main02 .add_friends .add02 {
  position: absolute;
  top: 589px;
  left: 230px;
}

#section08 .main02 .add_friends .add03 {
  position: absolute;
  top: 589px;
  left: 579px;
}

#section08 .main02 .add_friends .add04 {
  position: absolute;
  top: 589px;
  left: 927px;
}

#section08 .main02 .add_friends .add05 {
  position: absolute;
  top: 589px;
  left: 1276px;
}

/* 환경설정 */
#section09 {
  width: 1920px;
  height: 2455px;
}

#section09 .settings {
  width: 1920px;
  height: 2455px;
  background: #fafafa;

  position: absolute;
  left: 50%;
  margin-left: -960px;
}

#section09 .bg {
  position: absolute;
  bottom: 0;
}

#section09 .icon01{
  position: absolute;
  top: 1545px;
  right: 539px;

  animation: spin 8s linear infinite;
}

#section09 .icon02{
  position: absolute;
  top: 1835px;
  right: 866px;

  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#section09 .bell_3d {
  position: absolute;
  left: 100px;
  top: -157px;

  animation: move 0.7s linear alternate infinite;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

#section09 .title {
  position: absolute;
  top: 127px;
  left: 50%;
  margin-left: -408px;
}

#section09 .painpoint {
  position: absolute;
  left: 298px;
  top: 346px;

  opacity: 0;
  transform: translateX(-100px);
}

#section09 .solution {
  position: absolute;
  right: 298px;
  top: 410px;

  opacity: 0;
  transform: translateX(100px);
}

#section09 .contents {
  width: 1630px;
  height: 1886px;
  position: absolute;
  top: 589px;
  left: 50%;
  margin-left: -815px;

  opacity: 0;
  transform: translateY(30px);
}

#section09 .contents .moviebox {
  position: absolute;
  top: 22px;

  width: 483px;
  height: 1047px;

  background: #fafafa;
  border-radius: 66px;

  left: 50%;
  margin-left: -242px;
  overflow: hidden;
}

#section09 .moviebox video {
  width: 483px;
}

#section09 .contents .mobile {
  position: absolute;
  top: 0;
}

/* 선물 쇼핑하기 */
#section10 {
  width: 1920px;
  height: 2501px;
}

#section10 .shop {
  position: absolute;
  width: 1920px;
  height: 2501px;
  left: 50%;
  margin-left: -960px;

  background: #fafafa;
}

#section10 .bg {
  position: absolute;
  top: 159px;
}

#section10 .mobile01 {
  position: absolute;
  top: 252px;
  left: 100px;

  opacity: 0;
  transform: translateY(30px);
}

#section10 .mobile02 {
  position: absolute;
  left: 585px;
  top: -54px;

  opacity: 0;
  transform: translateY(-30px);
}

#section10 .mobile03 {
  position: absolute;
  bottom: 713px;
  right: 212px;

  opacity: 0;
  transform: translateX(30px);
}

#section10 .mobile04 {
  position: absolute;
  bottom: 118px;
  right: 207px;

}

#section10 .keywords {
  position: absolute;
  top: 2131px;
  right: 566px;

  opacity: 0;
  transform: translateX(30px);
}

/* 친구 프로필 관리 */
#section11 {
  width: 1920px;
  height: 2924px;
}

#section11 .profile {
  width: 1920px;
  height: 2924px;
  background: #fafafa;

  position: absolute;
  left: 50%;
  margin-left: -960px;
}

#section11 .bg {
  position: absolute;
  bottom: 0;
}

#section11 .mobile01 {
  position: absolute;
  left: 219px;
  top: 51px;

  opacity: 0;
  transform: translateY(30px);
}

#section11 .mobile02 {
  position: absolute;
  top: 310px;
  left: 607px;

  opacity: 0;
  transform: translateY(-30px);
}

#section11 .mobile02_2{
  position: absolute;
  top: 486px;
  right: 168px;

  opacity: 0;
  transform: translateY(-30px);
}

#section11 .mobile03 {
  position: absolute;
  right: 616px;
  bottom: 103px;

  opacity: 0;
  transform: translateY(30px);
}

#section11 .text01{
  position: absolute;
  top: 474px;
  left: 1072px;

  opacity: 0;
  transform: translateX(30px);
}

#section11 .text02{
  position: absolute;
  top: 1571px;
  left: 671px;

  opacity: 0;
  transform: translateX(30px);
}

/* 마무리 */
#section12 {
  width: 1920px;
  height: 1584px;
}

#section12 .end {
  width: 1920px;
  position: absolute;

  left: 50%;
  margin-left: -960px;
}

#section12 .move {
  width: 1920px;
  height: 1139px;
  overflow: hidden;
  position: absolute;
  top: 0;
}

#section12 .move > li {
  position: absolute;
}

#section12 .move01 {
  top: -204px;
  left: -43px;

  transform: translate(-100%, 100%);
}

#section12 .move02 {
  top: -294px;
  left: -423px;

  transform: translate(100%, -100%);
}

#section12 .move03 {
  top: -335px;
  left: 168px;

  transform: translate(-100%, 100%);
}

#section12 .move04 {
  top: 218px;
  left: 522px;

  transform: translate(100%, 100%);
}

#section12 .move05 {
  top: -239px;
  right: -568px;

  transform: translate(100%, -100%);
}

#section12 .move06 {
  bottom: -258px;
  right: -190px;

  transform: translate(-100%, 100%);
}

#section12 .second {
  position: absolute;
  top: 1139px;
}

#section12 .second .logo {
  position: absolute;
  top: 137px;
  left: 50%;
  margin-left: -219px;

  opacity: 0;
  transform: scale(0.2);
}
